.popup__edit_update {
    top: calc(50% - 136px);
    bottom: calc(50% - 136px);
}

@media screen and (max-width: 767px) {
    .popup__edit_update {
        width: 240px;
        top: calc(50% - 160px);
        bottom: calc(50% - 160px);
    } 
}