.element__counter {
    padding: 0px;
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}