.header__navbar_active {
    display: none;
    transform: translateY(-100%);
}

@media screen and (max-width: 767px) {
    .header__navbar_active {
        display: flex;
        transform: translateY(0%);
    }
}