.popup__notInfo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    color: #000000;
    width: 358px;
}

@media screen and (max-width: 767px) {
    .popup__notInfo {
        width: 240px;
        font-size: 22px;
    } 
}