.popup__close {
    position: absolute;
    right: -40.7px;
    top: -40.7px;
    width: 40.7px;
    height: 40.7px;
    cursor: pointer;
    opacity: 1;
    background-color: transparent;
    border: 0px;
}

.popup__close:hover {
    opacity: 0.6;
}

.popup__close:before, .popup__close:after {
    position: absolute;
    right: -4px;
    content: '';
    height: 4px;
    width: 44px;
    background-color: white;
}

.popup__close:before {
    transform: rotate(45deg);
}

.popup__close:after {
    transform: rotate(-45deg);
}


@media screen and (max-width: 767px) {
    .popup__close {
        right: 0px;
        top: -35px;
    }

    .popup__close:before, .popup__close:after {
        position: absolute;
        right: -28px;
        content: '';
        height: 4px;
        width: 30px; 
    }
}
