.popup__edit_agree {
    bottom: calc(50% - 90.5px);
    top: calc(50% - 90.5px);
}

@media screen and (max-width: 767px) {
    .popup__edit_agree {
        width: 240px;
        /*top: calc(50% - 180px);
        bottom: calc(50% - 180px);
        left: calc(50% - 120px);
        right: calc(50% - 120px);*/
    } 
}