.profile__button {
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: black;
    background-image: url(../../../images/add_button.svg);
    background-size: cover;
    border: 0px;
    
}

.profile__button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .profile__button {
        margin-left: auto;
    }
}

@media screen and (max-width: 767px) {
    .profile__button {
        background-image: url(../../../images/add_button_big.svg);
        width: 282px;
        height: 50px;
        margin: auto;
        margin-top: 36px;
    }
}
