@import url(./__photo/element__photo.css);
@import url(./__name/element__name.css);
@import url(./__info/element__info.css);
@import url(./__like/element__like.css);
@import url(./__delete/element__delete.css);
@import url(./__data/element__data.css);
@import url(./__counter/element__counter.css);

.element {
    width: 282px;
    background:white;
    margin: auto;
    border-radius: 10px;
    position: relative;
}