@import url(./__image/pop-image__image.css);
@import url(./__about/pop-image__about.css);
@import url(./__container/pop-image__container.css);
@import url(./__close/pop-image__close.css);

.pop-image {
    position: fixed;
    top: calc(50% - 75vh / 2);
    right: calc(50% - 75vw / 2);
    left: calc(50% - 75vw / 2);
    bottom: calc(50% - 75vh / 2);
    color: white;
    display: flex;
    flex-direction: column;
}