@import url(./__logo/header__logo.css);

.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: 882px;
    margin: auto;
    padding-bottom: 41px;
}

@media screen and (min-width: 1024px){
    .header {
        margin: auto;
        padding-top: 45px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: 750px;
        padding-top: 35px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
        padding-top: 28px;
    }
}