@import url(./__edit/popup__edit.css);
@import url(./__close/popup__close.css);
@import url(./__not/popup__not.css);
@import url(./__notInfo/popup__notInfo.css);

.popup {
    content: '';
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: all 0.5s;
}
